body {
    background-color: #273c75;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
}

#btn-group {
    width: 100%;
    height: 100%;
}

.textItem {
    background-color: #40739e;
    color: white;
    border-color: #273c75;
    border-radius: 5px;
    height: 25px;
    font-family: "Calibri Light";
    font-size: 20px;
}

form {
    font-family: "Calibri Light";
    font-size: 20px;
    color: white;
}

h2 {
    color: white;
    font-family: "Calibri Light";
}

.formButton {
    background-color: #40739e;
    color: white;
    border-color: #273c75;
    border-radius: 5px;
    height: 30px;
}

.button {
    font-size: 3vw;
    height: 100%;
    width: 19.7%;
    color: white;
    border: none;
    background-color: transparent;
}

.table {
    background-color: #40739e;
    border-collapse: collapse;
    width: 100%;
    align-content: center;
    text-align: center;
    color: white;
}

td {
    border: #273c75 2px solid;
}

th {
    border: #273c75 2px solid;

}
