
body {
    background-image: url("https://www.telemadrid.es/2019/07/16/programas/madrid-trabaja/libreria_2140595955_7143659_1300x731.jpg");
}

table {
    border: 1px solid black;
}

.button {
    font-size: 120px;
    color: bisque;
    background-color: transparent;
    border: none;
}